*.bs
*.c
!Dummy.c
*.def
*.i
*.o
*.obj
*.pdb
*.xsc
Makefile
Makefile.old
blib
pm_to_blib
MANIFEST.bak
MYMETA.*
/*.patch
XSConfig-*
ppcfg.txt
xscfg.txt
cfg.diff
Config_pm_mtime
Config_xs.out-new
Config_xs.tmp.out
Config_xs.tmp.in-new
Config.xs
Config_mini.pl
Config_xs_heavy.pl
